Flask==2.0.1
Flask-Cors==3.0.10
Flask-Session==0.4.0
ShopifyAPI==12.7.0
requests==2.31.0
gunicorn==20.1.0
redis==4.5.4  # For session storage
PyYAML==6.0.1
pyactiveresource>=2.2.2
PyJWT>=2.0.0
six>=1.17.0
